@mixin errors {
  color: red;
  font-size: 0.9em;
  margin-top: -20px;
  margin-bottom: -20px;
}

.registration-container {
  height: 89vh;
  overflow: hidden;
  display: flex;
  .photo-container {
    width: 775px;
    overflow: hidden;
    .photo {
      width: 1550px;
      height: 900px;
      object-fit: cover;
      object-position: left;
    }
  }
  .form-container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    flex-direction: column;
    gap: 48px;
    .registration-title {
      color: #10151f;
      font-size: 42px;
      font-weight: 600;
    }
    .form-inputs-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 590px;
      .input-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .photo-upload-container {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .upload-label {
            width: 100px;
            color: #3e424a;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            margin: 0 15px;
          }

          .photo-preview {
            display: flex;
            align-items: center;
            .preview-img {
              width: 100px;
              height: 100px;
              object-fit: cover;
              border-radius: 50%;
              margin-right: 10px;
            }

            button {
              background-color: white;
              color: #3e424a;
              border: none;
              padding: 6px 10px;
              cursor: pointer;
              font-size: 14px;
            }
          }
        }
        .inputs {
          width: 560px;
          padding: 10.5px 12px;
          border: solid 1px #e1dfe1;
          border-radius: 8px;
        }
        .eye {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 50%;
          left: 94%;
          transform: translateY(-50%);
          cursor: pointer;
        }
        .validation-errors {
          @include errors;
        }
        .pass-validation-errors {
          @include errors;
          margin-top: 0px;
        }
      }
    }
    .registration-btn {
      padding: 10px 274px;
      background-color: #ff4000;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      margin-top: 46px;
    }
    .register-link-container {
      color: #3e424a;
      font-size: 14px;
      font-weight: 400;
      margin-top: 24px;
      .register-link-content {
        color: #ff4000;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1400px) {
  .registration-container {
    .form-container {
      .form-inputs-contianer {
        .input-container {
          .inputs {
            width: 100px;
          }
          .eye {
            left: 88%;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .registration-container {
    .photo-container {
      .photo {
        width: 1000px;
        height: 900px;
        object-fit: cover;
        object-position: left;
      }
    }
    .form-container {
      .registration-title {
        margin-left: 110px;
      }
      .form-inputs-container {
        .input-container {
          .inputs {
            width: 350px;
          }
          .eye {
            left: 88%;
          }
        }
      }
      .registration-btn {
        padding: 10px 170px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .registration-container {
    .photo-container {
      margin-right: -280px;
      .photo {
        width: 350px;
        height: 900px;
        object-fit: cover;
        object-position: 15%;
      }
    }
    .form-container {
      margin-left: -100px;
      .form-inputs-container {
        .input-container {
          .eye {
            left: 72%;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .registration-container {
    .form-container {
      .form-inputs-container {
        .input-container {
          .eye {
            left: 86%;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .registration-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .photo-container {
      display: none;
    }

    .form-container {
      .form-inputs-container {
        .input-container {
          .inputs {
            width: 300px;
          }
          .eye {
            left: 70%;
          }
        }
      }
      .registration-btn {
        padding: 10px 140px;
      }
    }
  }
}

@media (max-width: 700px) {
  .registration-container {
    margin-left: -100px;
    .form-container {
      .form-inputs-container {
        .input-container {
          .eye {
            left: 70%;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .registration-container {
    margin-left: -150px;
    .form-container {
      .registration-title {
        margin-left: 130px;
      }
      .form-inputs-container {
        .input-container {
          .eye {
            top: 60.5%;
            left: 76%;
          }
        }
      }
    }
  }
}
