.registration-container {
  height: 89vh;
  overflow: hidden;
  display: flex;
}
.registration-container .photo-container {
  width: 775px;
  overflow: hidden;
}
.registration-container .photo-container .photo {
  width: 1550px;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.registration-container .form-container {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  flex-direction: column;
  gap: 48px;
}
.registration-container .form-container .registration-title {
  color: #10151f;
  font-size: 42px;
  font-weight: 600;
}
.registration-container .form-container .form-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 590px;
}
.registration-container .form-container .form-inputs-container .input-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.registration-container .form-container .form-inputs-container .input-container .photo-upload-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.registration-container .form-container .form-inputs-container .input-container .photo-upload-container .upload-label {
  width: 100px;
  color: #3e424a;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  margin: 0 15px;
}
.registration-container .form-container .form-inputs-container .input-container .photo-upload-container .photo-preview {
  display: flex;
  align-items: center;
}
.registration-container .form-container .form-inputs-container .input-container .photo-upload-container .photo-preview .preview-img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.registration-container .form-container .form-inputs-container .input-container .photo-upload-container .photo-preview button {
  background-color: white;
  color: #3e424a;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
}
.registration-container .form-container .form-inputs-container .input-container .inputs {
  width: 560px;
  padding: 10.5px 12px;
  border: solid 1px #e1dfe1;
  border-radius: 8px;
}
.registration-container .form-container .form-inputs-container .input-container .eye {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 94%;
  transform: translateY(-50%);
  cursor: pointer;
}
.registration-container .form-container .form-inputs-container .input-container .validation-errors {
  color: red;
  font-size: 0.9em;
  margin-top: -20px;
  margin-bottom: -20px;
}
.registration-container .form-container .form-inputs-container .input-container .pass-validation-errors {
  color: red;
  font-size: 0.9em;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-top: 0px;
}
.registration-container .form-container .registration-btn {
  padding: 10px 274px;
  background-color: #ff4000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 46px;
}
.registration-container .form-container .register-link-container {
  color: #3e424a;
  font-size: 14px;
  font-weight: 400;
  margin-top: 24px;
}
.registration-container .form-container .register-link-container .register-link-content {
  color: #ff4000;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 1400px) {
  .registration-container .form-container .form-inputs-contianer .input-container .inputs {
    width: 100px;
  }
  .registration-container .form-container .form-inputs-contianer .input-container .eye {
    left: 88%;
  }
}
@media (max-width: 1400px) {
  .registration-container .photo-container .photo {
    width: 1000px;
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }
  .registration-container .form-container .registration-title {
    margin-left: 110px;
  }
  .registration-container .form-container .form-inputs-container .input-container .inputs {
    width: 350px;
  }
  .registration-container .form-container .form-inputs-container .input-container .eye {
    left: 88%;
  }
  .registration-container .form-container .registration-btn {
    padding: 10px 170px;
  }
}
@media (max-width: 1200px) {
  .registration-container .photo-container {
    margin-right: -280px;
  }
  .registration-container .photo-container .photo {
    width: 350px;
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 15%;
       object-position: 15%;
  }
  .registration-container .form-container {
    margin-left: -100px;
  }
  .registration-container .form-container .form-inputs-container .input-container .eye {
    left: 72%;
  }
}
@media (max-width: 1000px) {
  .registration-container .form-container .form-inputs-container .input-container .eye {
    left: 86%;
  }
}
@media (max-width: 900px) {
  .registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .registration-container .photo-container {
    display: none;
  }
  .registration-container .form-container .form-inputs-container .input-container .inputs {
    width: 300px;
  }
  .registration-container .form-container .form-inputs-container .input-container .eye {
    left: 70%;
  }
  .registration-container .form-container .registration-btn {
    padding: 10px 140px;
  }
}
@media (max-width: 700px) {
  .registration-container {
    margin-left: -100px;
  }
  .registration-container .form-container .form-inputs-container .input-container .eye {
    left: 70%;
  }
}
@media (max-width: 540px) {
  .registration-container {
    margin-left: -150px;
  }
  .registration-container .form-container .registration-title {
    margin-left: 130px;
  }
  .registration-container .form-container .form-inputs-container .input-container .eye {
    top: 60.5%;
    left: 76%;
  }
}/*# sourceMappingURL=Registration.css.map */