@mixin text {
  color: #10151f;
  font-weight: 500;
}

.product-page-container {
  margin: 0 100px;
  .filter {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 32px;
    .title {
      font-weight: 600;
      font-size: 42px;
      color: #10151f;
    }
    .filter-options {
      display: flex;
      align-items: center;
      gap: 32px;
      .showing-pages {
        color: #3e424a;
        font-size: 12px;
        font-weight: 400;
      }
      .hor-line {
        width: 1px;
        height: 14px;
        background-color: #e1dfe1;
      }
      .price-filter {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        .price-filter-popup {
          width: 392px;
          position: absolute;
          top: 120%;
          right: 0;
          background: #fff;
          border-radius: 12px;
          border: 1px solid #e1dfe1;
          padding: 24px;
          z-index: 20;
          min-width: 260px;
          display: flex;
          flex-direction: column;
          gap: 16px;

          .price-title {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 8px;
            color: #10151f;
          }

          .price-inputs {
            display: flex;
            gap: 12px;
            margin-bottom: 8px;

            input {
              padding: 8px 10px;
              border-radius: 6px;
              border: 1px solid #e1dfe1;
              font-size: 14px;
              outline: none;
              transition: border 0.2s;
            }
            input:focus {
              border: 1.5px solid #10151f;
            }
          }

          .apply-btn {
            width: 124px;
            background: #ff3c00;
            color: #fff;
            border: none;
            padding: 10px 32px;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
            transition: background 0.2s;
            margin-left: 285px;
          }
          .apply-btn:hover {
            background: #d63200;
          }
        }
      }
      .sort-dropdown {
        position: relative;
        .sort-btn {
          display: flex;
          align-items: center;
          gap: 6px;
          border: none;
          background: transparent;
          cursor: pointer;
          font-size: 14px;
          color: #10151f;
          font-weight: 400;
        }
        .sort-menu {
          position: absolute;
          top: 120%;
          right: 0;
          background: #fff;
          border: 1px solid #ddd;
          border-radius: 6px;
          width: 200px;
          z-index: 10;
          padding: 8px 0;
          .sort-para {
            margin: 0;
            padding: 8px 14px;
            cursor: pointer;
            font-size: 14px;
          }
          .sort-para:hover {
            background: #f2f2f2;
          }
          .sort-title {
            font-weight: 600;
            padding: 8px 14px;
            border-bottom: 1px solid #eee;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
  .active-filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    .filter-tag {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 8px 10px 8px 16px;
      border: 1px solid #e1dfe1;
      border-radius: 20px;
      font-size: 14px;
      color: #10151f;

      .close-btn {
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        line-height: 1;
        font-weight: 400;
        color: #3e424a;
      }
    }
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    justify-content: start;
    .product-card {
      width: 410.5px;
      height: 614px;
      padding-bottom: 20px;
      .product-image {
        border: solid 1px #e1dfe1;
        width: 408.5px;
        height: 549px;
        object-fit: cover;
        border-radius: 8px;
      }
      .product-name {
        font-size: 18px;
        @include text;
      }
      .product-price {
        font-size: 16px;
        @include text;
      }
    }
  }
  .pagination-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .page-arrow {
      padding: 10px;
      cursor: pointer;
    }

    .page-btn {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;
      border-radius: 8px;
      background: #fff;
      cursor: pointer;
      font-size: 14px;
      color: #4b5563;
      transition: all 0.2s;

      &:hover {
        border-color: #d1d5db;
        background: #f9fafb;
      }

      &.active {
        border: 1px solid #f97316; // ნარინჯისფერი
        color: #f97316;
        font-weight: 600;
      }
    }

    .dots {
      color: #9ca3af;
      font-size: 14px;
      pointer-events: none;
    }
  }
}
