@mixin errors {
  color: red;
  font-size: 0.9em;
  margin-top: -20px;
  margin-bottom: -20px;
}

.login-container {
  height: 89vh;
  overflow: hidden;
  display: flex;
  .photo-container {
    width: 775px;
    overflow: hidden;
    .photo {
      width: 1550px;
      height: 900px;
      object-fit: cover;
      object-position: left;
    }
  }
  .form-container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    flex-direction: column;
    gap: 48px;
    .login-title {
      color: #10151f;
      font-size: 42px;
      font-weight: 600;
    }
    .form-inputs-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 590px;
      .input-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        input {
          width: 560px;
          padding: 10.5px 12px;
          border: solid 1px #e1dfe1;
          border-radius: 8px;
        }
        .eye {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 55.5%;
          left: 79%;
          cursor: pointer;
        }
        .validation-errors {
          @include errors;
        }
        .pass-validation-errors {
          @include errors;
          margin-top: -45px;
        }
      }
    }
    .login-btn {
      padding: 10px 274px;
      background-color: #ff4000;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      margin-top: 46px;
    }
    .register-link-container {
      color: #3e424a;
      font-size: 14px;
      font-weight: 400;
      margin-top: 24px;
      .register-link-content {
        color: #ff4000;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1400px) {
  .login-container {
    .photo-container {
      .photo {
        width: 1000px;
        height: 900px;
        object-fit: cover;
        object-position: left;
      }
    }
    .form-container {
      .login-title {
        margin-left: 110px;
      }
      .form-inputs-container {
        .input-container {
          input {
            width: 350px;
          }
          .eye {
            left: 88%;
          }
        }
      }
      .login-btn {
        padding: 10px 170px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .login-container {
    .photo-container {
      margin-right: -280px;
      .photo {
        width: 350px;
        height: 900px;
        object-fit: cover;
        object-position: 15%;
      }
    }
    .form-container {
      margin-left: -100px;
      .form-inputs-container {
        .input-container {
          .eye {
            left: 72%;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .login-container {
    .form-container {
      .form-inputs-container {
        .input-container {
          .eye {
            left: 86%;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .photo-container {
      display: none;
    }
    .form-container {
      .form-inputs-container {
        .input-container {
          input {
            width: 300px;
          }
          .eye {
            left: 70%;
          }
        }
        .login-btn {
          padding: 10px 140px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .login-container {
    margin-left: -100px;
    .form-container {
      .form-inputs-container {
        .input-container {
          .eye {
            left: 70%;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .login-container {
    margin-left: -150px;
    .form-container {
      .login-title {
        margin-left: 130px;
      }
      .form-inputs-container {
        .input-container {
          .eye {
            top: 60.5%;
            left: 76%;
          }
        }
      }
    }
  }
}
