@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header {
    margin: 28px 100px;
    display: flex;
    justify-content: space-between;
    }

    .logo {
        @include flex;

    }

    .login-link {
        text-decoration: none;
        color: #10151F;
        .login {
        @include flex;
    }
    
}